body {
  background: #eee;
}
#btn-1 {
  transition: all 0.3s ease;
}
#btn-1:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.col-md-2 {
  background: rgb(111, 109, 235);
  margin: 3px;
  text-align: center;
  cursor: pointer;
  height: 50px;

  padding-top: 10px;
}
.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #e1bee7;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f4f8fa;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #5360ad;
  font-size: 19px;
}

.buttons button:nth-child(1) {
  border: 1px solid #5360ad !important;
  color: #5360ad;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #5360ad !important;
  color: #fff;
  height: 40px;
  background-color: #5360ad;
}

.buttons button:nth-child(2) {
  border: 1px solid #5360ad !important;
  background-color: #5360ad;
  color: #fff;
  height: 40px;
}
